@charset "UTF-8";

@media screen and (min-width: 700px){
    #burguer {
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
    menu > ul > li > a{
        border-top: none;
    }
    main{
        max-width: 800px;
    }
}
