@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ============================================================================== */
/*                                     MOBILE                                     */
/* ============================================================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor01);
    min-height: 100vh;
    width: 100%;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*                                    # root #                                    */

:root{
    --cor01: #dacabd;

    --font-mont: 'Montserrat';
    --font-roboto: 'Roboto';
    --font-fraunces: 'Fraunces';
}

/* ================================== # fim # =================================== */

/*                                    # main #                                    */

main{
    height: 550px;
    width: clamp(250px, 90vw, 300px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px black;
}
main > section#photo{
    height: 40%;
    width: 100%;
    background: url('../imagens/perfume-chanel-300.jpg') center center/contain;
}
main > section#copy{
    height: 60%;
    width: 100%;
    background-color: white;
    padding: 15px;
}
main > section#copy > h1{
    font-family: var(--font-mont);
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 4px;
}
main > section#copy > h2{
    font-family: var(--font-fraunces);
    padding: 10px 0px;
}
main > section#copy > p{
    font-family: var(--font-mont);
}
main > section#copy > div.prices{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
main > section#copy > div.prices > data{
    font-family: var(--font-fraunces);
    color: green;
    font-weight: bolder;
    font-size: 2em;
    margin-right: 25px;
    padding: 8px 0px;
}
main > section#copy > div.prices > p.discount{
    text-decoration: line-through;
}
main > section#copy > a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--font-roboto);
}
main > section#copy > a:hover{
    background-color: rgb(255, 196, 46);
    color: green;
    font-weight: bolder;
}
/* ================================== # fim # =================================== */